@mixin syntax_dark {
  .highlight {
    color: #ffffff;
    font-weight: normal;
    font-style: normal;
    .nc, .nf, .no { font-weight: bold; }
    .c, .c1, .cm { font-weight: lighter;}
    .c, .c1, .cm, .s, .s1, .s2, .si { font-style: italic; }
    .c, .c1, .cm, .cp, .cpf, .nd, .nn, .kn { color: #b769d8; }
    .k, .kc, .kd, .kt, .p, .pi, .o, .ow, .sa, .si, .n, .na, .nb, .nf, .nt, .nv, .nx { color: #ffffff; }
    .nc, .nf, .no { color: #dd8726; }
    .m, .mb, .mi, .mf, .mh, .s, .s1, .s2, .se, .sh, .si { color: #37ad37; }
    .nl { color: #458bc5; }
    .gd { color: #ff6666; background-color: #5a1a1a; }
    .gi { color: #66ff66; background-color: #1a5a1a; }
    .err { color: #ff6666; background-color: #666600; }
  }
  .language-shell,
  .language-bash,
  .language-powershell {
    pre.highlight {
      .nb { font-weight: bold; }
      .nt { color: #b769d8; }
      .nb { color: #dd8726; }
      .nv { color: #458bc5; }
    }
  }
  .language-plaintext,
  .language-diff {
    pre.highlight { background-color: #111111; }
    .code-language-label { background-color: #111111; }
  }
}
