<div class="col s12 tag-div">
  <div class="user-pic center-align">
    <a href="{{site.github_profile}}" target="_blank"><img class="circle hoverable z-depth-1"
        src="{{site.baseurl}}/assets/res/user.png"></a>
  </div>
  <div class="user-intro center-align">
    <h4 class="hidden">我是 <span id="js-rotating">可爱的, 帅气的, 迷人的, 智慧的</span> 晨阳同学</h4>
  </div>
  <div class="user-intro center-align">
    <br /><br /><br />
    <p>
      欢迎来到我的博客！ヾ(≧▽≦*)o
    </p>
    <p>
      我喜欢钻研各种技术,
    </p>
    <p>
      也喜欢通过文字进行记录。
    </p>
    <p>
      祝你在这里玩得愉快！
    </p>
  </div>
  <br />
  <br />
  <br />
  <centre>
    <figure><centre><embed src="https://wakatime.com/share/@chenyang/ade60d29-3280-4338-b10c-7190f1391ddf.svg" width="500"
        height="334"></centre></figure>
    <br />
    <figure><centre><embed src="https://wakatime.com/share/@chenyang/19f80a4b-1fd5-4a9a-9160-1b7804ed1361.svg" width="500"
        height="334"></centre></figure>
    <br />
    <figure><centre><embed src="https://wakatime.com/share/@chenyang/b3492903-57b1-4b3e-af25-4e9f4f876607.svg" width="500"
        height="334"></centre></figure>
  </centre>
</div>