{% if page.comments %}
  <div class="comment no-select">
    <h1>Comments</h1>
    <script
      src="https://giscus.app/client.js"
      data-repo="{{ site.giscus.data-repo }}"
      data-repo-id="{{ site.giscus.data-repo-id }}"
      data-category="Comments"
      data-category-id="{{ site.giscus.data-category-id }}"
      data-mapping="title"
      data-strict="0"
      data-reactions-enabled="1"
      data-emit-metadata="0"
      data-input-position="top"
      data-theme="{{ site.url }}/assets/css/giscus.css"
      data-lang="en"
      data-loading="lazy"
      crossorigin="anonymous"
      async
    ></script>
  </div>
{% endif %}
