{%- if page.copyrights contains '原创' or page.copyrights contains 'origin' or page.copyrights contains 'original' or page.copyrights == nil -%}
<div class='article-license' xmlns:cc='http://creativecommons.org/ns#' xmlns:dct='http://purl.org/dc/terms/'>
  <p><a property='dct:title' rel='cc:attributionURL' href='{{ page.url | absolute_url }}'>本文</a>由 <a rel='cc:attributionURL dct:creator' property='cc:attributionName' href='{{ site.author.link }}'>{{ site.author.name | escape }}</a> 撰写。</p>
  <p>采用 <a href='https://creativecommons.org/licenses/by-nc-sa/4.0/' target='_blank' rel='license noopener noreferrer'>CC BY-NC-SA 4.0</a> 许可，转载时请注明作者与来源。</p>
</div>
{%- endif -%}
