<h4 style="text-align:center;font-weight: bold;">课程表 - 第二周</h4>
<br />
<div width="100%" class="coursetable" >
    <table width="100%" class="week" height="28px">
        <tr height="24px">
            <th class="Num"></th>
            <th class="aligncenter">一</th>
            <th class="aligncenter">二</th>
            <th class="aligncenter">三</th>
            <th class="aligncenter">四</th>
            <th class="aligncenter">五</th>
            <th class="aligncenter">六</th>
            <th class="aligncenter">七</th>
        </tr>
    </table>
    <table width="100%">
        <tr height="100px">
            <th class="Num">1</th>
            <th rowspan="2" class="tablecellout">
                <table height="100%">
                    <th class="tablecell classinactive">
                        <li class="celllistcourseinactive">形势<br />与政策<br />(5)</li>
                    </th>
                </table>
            </th>
            <th class="tablecellout">
                <table height="100%">
                    <th class="tablecell classinactive">
                        <li class="celllistcourseinactive">体育V</li>
                        <li class="celllist">胡济群</li>
                    </th>
                </table>
            </th>
            <th></th>
            <th rowspan="2" class="tablecellout">
                <table height="100%">
                    <th class="tablecell class3">
                        <li class="celllistcourse">编译方法<br />(双语)</li>
                        <li class="celllist">翟玉庆<br />J8-301</li>
                    </th>
                </table>
            </th>
            <th></th>
            <th></th>
            <th></th>
        </tr>

        <tr>
            <th class="Num">2</th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
        </tr>

        <tr>
            <th class="Num">3</th>
            <th></th>
            <th rowspan="2" class="tablecellout">
                <table height="100%">
                    <th class="tablecell class4">
                        <li class="celllistcourse">复变函数</li>
                        <li class="celllist">程全新<br />J6-103</li>
                    </th>
                </table>
            </th>
            <th></th>
            <th rowspan="3" class="tablecellout">
                <table height="100%">
                    <th class="tablecell class5">
                        <li class="celllistcourse">模式识别</li>
                        <li class="celllist">秦中元<br />J7-20C</li>
                    </th>
                </table>
            </th>
            <th rowspan="3" class="tablecellout">
                <table height="100%">
                    <th class="tablecell class6">
                        <li class="celllistcourse">计算机<br />网络安全<br />(双语)</li>
                        <li class="celllist">许昱玮<br />J6-303</li>
                    </th>
                </table>
            </th>
            <th rowspan="2" class="tablecellout" id="comejs">
                <table height="100%">
                    <th class="tablecell class9">
                        <li class="celllistcourse">通信原理</li>
                        <li class="celllist">李古月<br />J2-105</li>
                    </th>
                </table>
            </th>
            <th></th>
        </tr>

        <tr>
            <th class="Num">4</th>
            <th></th>
            <th rowspan="2" class="tablecellout">
                <table height="100%">
                    <th class="tablecell class7">
                        <li class="celllistcourse">算法分析<br />与设计<br />(全英)</li>
                        <li class="celllist">陶军<br />J3-204</li>
                    </th>
                </table>
            </th>
            <th></th>
        </tr>

        <tr>
            <th class="Num">5</th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
        </tr>

        <tr>
            <th class="Num">6</th>
            <th rowspan="2" class="tablecellout">
                <table height="100%">
                    <th class="tablecell class7">
                        <li class="celllistcourse">算法分析<br />与设计<br />(全英)</li>
                        <li class="celllist">陶军<br />J3-204</li>
                    </th>
                </table>
            </th>
            <th rowspan="3" class="tablecellout">
                <table height="100%">
                    <th class="tablecell class3">
                        <li class="celllistcourse">编译方法<br />(双语)</li>
                        <li class="celllist">翟玉庆<br />J8-301</li>
                    </th>
                </table>
            </th>
            <th></th>
            <th></th>
            <th rowspan="3" class="tablecellout">
                <table height="100%">
                    <th class="tablecell class8">
                        <li class="celllistcourse">二进制<br />代码分析<br />(双语研讨)</li>
                        <li class="celllist">凌振<br />J3-101</li>
                    </th>
                </table>
            </th>
            <th></th>
            <th></th>
        </tr>

        <tr>
            <th class="Num">7</th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
        </tr>

        <tr>
            <th class="Num">8</th>
            <th rowspan="3" class="tablecellout">
                <table height="100%">
                    <th class="tablecell class9">
                        <li class="celllistcourse">通信原理</li>
                        <li class="celllist">李古月<br />J2-105</li>
                    </th>
                </table>
            </th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
        </tr>

        <tr>
            <th class="Num">9</th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
        </tr>

        <tr>
            <th class="Num">10</th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
        </tr>

        <tr>
            <th class="Num">11</th>
            <th></th>
            <th></th>
            <th rowspan="3" class="tablecellout">
                <table height="100%">
                    <th class="tablecell class10">
                        <li class="celllistcourse">最优化<br />理论<br />与技术<br />(研讨)</li>
                        <li class="celllist">李古月<br />J2-105</li>
                    </th>
                </table>
            </th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
        </tr>

        <tr>
            <th class="Num">12</th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
        </tr>

        <tr>
            <th class="Num">13</th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
    </table>
</div>

<script>
    let courseName = document.querySelector("#comejs .celllistcourse");
    let courseInfo = document.querySelector("#comejs .celllist");
    let courseTable = document.querySelector("coursetable");
    document.querySelector("#comejs").onclick = function () {
        if (courseName.innerHTML === "模式识别") {
            let courseCss = document.querySelector("#comejs .classinacctive");
            courseCss.setAttribute("class", "ro1 tablecell classinacctive");
            setTimeout(function () {
                courseName.innerHTML = "通信原理";
                courseInfo.innerHTML = "李古月<br/>J2-105";
                courseCss.setAttribute("class", "ro2 tablecell class5");
            }, 400);
        }
        else {
            let courseCss = document.querySelector("#comejs .class5");
            courseCss.setAttribute("class", "ro1 tablecell class5");
            setTimeout(function () {
                courseName.innerHTML = "模式识别";
                courseInfo.innerHTML = "秦中元<br />J7-20C";
                courseCss.setAttribute("class", "ro2 tablecell classinacctive");
            }, 400);
        }
    }
</script>