<a class='header__title-wrapper' href='{{ site.url }}'>
  <span>{{ site.author.name }}'s</span>
  <span>blog</span>
</a>
<menu class='header__menu-wrapper'>
  {% for item in site.navy %}
    {% assign is_active = false %}
    {% if page.layout == item.title or page.type == item.title %}
      {% assign is_active = true %}
    {% elsif page.layout == 'post' and item.title == 'post' %}
      {% assign is_active = true %}
    {% elsif page.layout == 'home' and item.title == 'post' %}
      {% assign is_active = true %}
    {% endif %}
    <a
      href='{{ item.url | relative_url }}'
      class='header__menu-item {% if is_active %}header__menu-item--active{% endif %}'
    >
      <span class='header__menu-item-icon material-symbols-outlined'>
        {{ item.icon }}
      </span>
      <p class="header__menu-item-title">{{ item.title }}</p>
    </a>
  {% endfor %}
</menu>
