<!DOCTYPE html>
<html>
  <head>
  	<!-- 数学公式 -->
	  <script src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML" type="text/javascript"></script>
	  <script type="text/x-mathjax-config">
 	    MathJax.Hub.Config({
	     tex2jax: {
	      skipTags: ['script', 'noscript', 'style', 'textarea', 'pre'],
	      inlineMath: [['$','$']]
	     }
	    });
	  </script>
    
    <meta name="baidu-site-verification" content="code-J8xxIi4BQo" />

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>
      {% if page.title %}
      {{ page.title | escape }}
      {% else %}
      {{ site.title | escape }}
      {% endif %}
    </title>
    <link rel="shortcut icon" type="image/x-icon" href="{{site.baseurl}}/assets/res/favicon.ico">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/materialize/0.99.0/css/materialize.min.css">
    <link rel="stylesheet" href="//fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="{{site.baseurl}}/assets/css/main.css">
    {% for css in layout.css %}
    {% if css contains "//" %}
    <link rel="stylesheet" href="{{css}}">
    {% else %}
    <link rel="stylesheet" href="{{site.baseurl}}/assets/css/{{css}}">
    {% endif %}
    {% endfor %}
    {% for css in page.css %}
    {% if css contains "//" %}
    <link rel="stylesheet" href="{{css}}">
    {% else %}
    <link rel="stylesheet" href="{{site.baseurl}}/assets/css/{{css}}">
    {% endif %}
    {% endfor %}
    <link rel="stylesheet" href="{{site.baseurl}}/assets/css/syntax.css">
    <link rel="alternate" type="application/rss+xml" title="RSS" href="{{site.baseurl}}/feed.xml">
    <link rel="sitemap" type="application/xml" title="Sitemap" href="{{site.baseurl}}/sitemap.xml">
  </head>
  <body>
    <header>
      <nav class="top-nav teal">
        <div class="nav-wrapper">
          <div class="container">
            <a class="page-title" href="{{site.baseurl}}/">{{site.title}}</a>
          </div>
        </div>
      </nav>
      <div class="container">
        <a href="#" data-activates="slide-out" class="button-collapse top-nav full hide-on-large-only">
          <i class="material-icons">menu</i>
        </a>
      </div>
      <ul id="slide-out" class="side-nav fixed">
        <li>
          <div class="userView">
            <div class="background"></div>
            <a href="{{site.github_profile}}" target="_blank"><img class="circle z-depth-2" src="{{site.baseurl}}/assets/res/user.png"></a>
            <span class="white-text email"></span>
            <span class="white-text name"><font size="6">{{site.user}}</font></span>
            <span class="white-text email"></span>
            <span class="white-text email">{{site.user_email}}</span>
          </div>
        </li>
        <li><a class="waves-effect" href="{{site.baseurl}}/"><i class="material-icons">home</i>主页</a></li>
        <li><a class="waves-effect" href="{{site.baseurl}}/about"><i class="material-icons">person</i>关于</a></li>
        <li><a class="waves-effect" href="{{site.baseurl}}/categories"><i class="material-icons">sort</i>分类</a></li>
        <li><a class="waves-effect" href="{{site.baseurl}}/tags"><i class="material-icons">label</i>标签</a></li>
        <li><div class="divider"></div></li>
        <li><a class="waves-effect" href="{{site.baseurl}}/feed.xml" target="_blank"><i class="material-icons">rss_feed</i>订阅</a></li>
        <li><a class="waves-effect" href="{{site.baseurl}}/contact"><i class="material-icons">email</i>联系</a></li>
        <br/>
        <li><script type='text/javascript' id='clustrmaps' src='//cdn.clustrmaps.com/map_v2.js?cl=080808&w=a&t=n&d=Ok2N74xH2avSP9-xf8Fw5SH7enMI5OOEWZ1uH6Z7ycw&co=ffffff&ct=808080&cmo=3acc3a&cmn=ff5353'></script></li>
      </ul>
    </header>
    <main>