<a id="title-container" href="{{ site.url }}">
  <span>{{ site.author.name }}'s</span>
  <span>blog</span>
</a>
<menu id="menu-container">
  {% for item in site.navy %}
    {% if page.url == (item.url | relative_url) %}
      <a href="{{ item.url | relative_url }}" class="active">
    {% elsif page.layout == 'post' and item.title == 'post' %}
      <a href="{{ item.url | relative_url }}" class="active">
    {% elsif page.layout == 'archive' and item.title == 'post' %}
      <a href="{{ item.url | relative_url }}" class="active">
    {% else %}
      <a href="{{ item.url | relative_url }}">
    {% endif %}
      <span class="material-symbols-outlined">
        {{ item.icon }}
      </span>
      <p>{{ item.title }}</p>
    </a>
  {% endfor %}
</menu>
