{%- if posts.size > 0 -%}
  {%- for post in posts -%}
    {%- if post.draft -%}
      {%- continue -%}
    {%- endif -%}
    <a id="pagination-item-container" class="no-select" href="{{ post.url | relative_url }}">
      <span id="pagination-item-title">
        {% if post.series %}
          <div id="pagination-item-series">{{ post.series }} | ({{ post.series_index }})</div>
        {% endif %}
        <div id="pagination-item-title-text">
          {{ post.title }}
        </div>
      </span>
      <div id="pagination-item-info">
        <div id="pagination-item-time">
          <span class="material-symbols-outlined"> calendar_month </span>
          {{- post.date | date: site.theme_config.date_format -}}
        </div>
        <div id="pagination-item-category">
          <span class="material-symbols-outlined"> archive </span>
          {{- post.categories -}}
        </div>
        <div id="pagination-item-tag">
          {% for tag in post.tags %}
            <span class="material-symbols-outlined"> tag </span>{{ tag }}
          {% endfor %}
        </div>
      </div>
    </a>
    {%- unless forloop.last -%}
      <hr>
    {%- endunless -%}
  {%- endfor -%}
{%- endif -%}

{%- assign non_draft_posts_count = 0 -%}
{%- for post in posts -%}
  {%- unless post.draft -%}
    {%- assign non_draft_posts_count = non_draft_posts_count | plus: 1 -%}
  {%- endunless -%}
{%- endfor -%}

<p id="pagination-count" class="no-select">
  {%- if non_draft_posts_count == 0 -%}
    - no public post -
  {%- elsif non_draft_posts_count == 1 -%}
    - find 1 public post -
  {%- else -%}
    - find {{ non_draft_posts_count }} public posts -
  {%- endif -%}
</p>
