<div id="relate-container" class="no-select no-print">
  {% assign related_posts_tot_num = 3 %}
  {% assign related_posts_num = related_posts_tot_num %}
  {% assign related_posts_tot_num = related_posts_tot_num | minus: 1 %}
  {% assign related_posts = '' | split: '' %}
  {% assign recommendation_reason = '' | split: '' %}
  {% for post in site.posts %}
    {%- if post.draft -%}
      {%- continue -%}
    {%- endif -%}
    {% if post.url != page.url %}
      {% assign common_tags = post.tags | where_exp: 'tag', 'page.tags contains tag' %}
      {% if common_tags.size > 0 %}
        {% assign post_with_count = post | merge: "common_tags_count" : common_tags.size %}
        {% assign related_posts = related_posts | push: post_with_count %}
      {% endif %}
    {% endif %}
  {% endfor %}
  {% assign related_posts = related_posts | sort: 'common_tags_count' | reverse %}
  {% if related_posts.size > related_posts_num %}
    {% assign related_posts = related_posts | slice: 0, related_posts_num %}
  {% endif %}
  {% for post in related_posts %}
    {% assign recommendation_reason = recommendation_reason | push: 'tag' %}
  {% endfor %}
  {% assign related_posts_num = related_posts_num | minus: related_posts.size %}
  {% if related_posts_num > 0 %}
    {% for post in site.posts %}
      {%- if post.draft -%}
        {%- continue -%}
      {%- endif -%}
      {% unless related_posts contains post or post.url == page.url %}
        {% assign common_categories = post.categories | where_exp: 'category', 'page.categories contains category' %}
        {% if common_categories.size > 0 %}
          {% assign recommendation_reason = recommendation_reason | push: 'category' %}
          {% assign related_posts = related_posts | push: post %}
          {% assign related_posts_num = related_posts_num | minus: 1 %}
        {% endif %}
      {% endunless %}
      {% if related_posts_num == 0 %}
        {% break %}
      {% endif %}
    {% endfor %}
  {% endif %}
  {% if related_posts_num > 0 %}
    {% for post in site.posts %}
      {%- if post.draft -%}
        {%- continue -%}
      {%- endif -%}
      {% unless related_posts contains post or post.url == page.url %}
        {% assign recommendation_reason = recommendation_reason | push: 'time' %}
        {% assign related_posts = related_posts | push: post %}
        {% assign related_posts_num = related_posts_num | minus: 1 %}
      {% endunless %}
      {% if related_posts_num == 0 %}
        {% break %}
      {% endif %}
    {% endfor %}
  {% endif %}

  <h1>Related Suggestions</h1>
  <ul>
    {% for i in (0..related_posts_tot_num) %}
      <li>
        <a href="{{ related_posts[i].url | relative_url }}">
          {% if recommendation_reason[i] == 'tag' %}
            <span class="material-symbols-outlined">tag</span>
          {% elsif recommendation_reason[i] == 'category' %}
            <span class="material-symbols-outlined">archive</span>
          {% elsif recommendation_reason[i] == 'time' %}
            <span class="material-symbols-outlined">calendar_month</span>
          {% endif %}
          <span class="title">{{ related_posts[i].title }}</span>
        </a>
      </li>
    {% endfor %}
  </ul>
</div>
