{% assign sorted_posts = site.posts | where: 'series', page.series | sort: 'series_index' %}
<div id="series-container" class="no-select">
  <p id="series-description">
    There are {{ sorted_posts.size }} posts in series <span id="series-name">{{ page.series }}</span>.
  </p>
  <ul id="series-item-list">
    {% for post in sorted_posts %}
      <li id="series-item">
        <a href="{{ post.url | relative_url }}"> ({{ post.series_index }}) {{ post.title }} </a>
      </li>
    {% endfor %}
  </ul>
</div>
