<div class='no-select no-print sector-wrapper suggest-wrapper'>
  {% comment %} find suggest BEGIN {% endcomment %}
  {% assign related_posts_tot_num = 3 %}
  {% assign related_posts_num = related_posts_tot_num %}
  {% assign related_posts_tot_num = related_posts_tot_num | minus: 1 %}
  {% assign related_posts = '' | split: '' %}
  {% assign recommendation_reason = '' | split: '' %}
  {% for post in site.posts %}
    {% if page.series and post.series == page.series %}{% continue %}{% endif %}
    {%- if post.draft -%}
      {%- continue -%}
    {%- endif -%}
    {% if post.url != page.url %}
      {% assign common_tags = post.tags
        | where_exp: 'tag', 'page.tags contains tag'
      %}
      {% if common_tags.size > 0 %}
        {% assign post_with_count = post | merge: "common_tags_count" : common_tags.size %}
        {% assign related_posts = related_posts | push: post_with_count %}
      {% endif %}
    {% endif %}
  {% endfor %}
  {% assign related_posts = related_posts
    | sort: 'common_tags_count'
    | reverse
  %}
  {% if related_posts.size > related_posts_num %}
    {% assign related_posts = related_posts | slice: 0, related_posts_num %}
  {% endif %}
  {% for post in related_posts %}
    {% assign recommendation_reason = recommendation_reason | push: 'tag' %}
  {% endfor %}
  {% assign related_posts_num = related_posts_num | minus: related_posts.size %}
  {% if related_posts_num > 0 %}
    {% for post in site.posts %}
    {% if page.series and post.series == page.series %}{% continue %}{% endif %}
      {%- if post.draft -%}
        {%- continue -%}
      {%- endif -%}
      {% unless related_posts contains post or post.url == page.url %}
        {% assign common_categories = post.categories
          | where_exp: 'category', 'page.categories contains category'
        %}
        {% if common_categories.size > 0 %}
          {% assign recommendation_reason = recommendation_reason
            | push: 'category'
          %}
          {% assign related_posts = related_posts | push: post %}
          {% assign related_posts_num = related_posts_num | minus: 1 %}
        {% endif %}
      {% endunless %}
      {% if related_posts_num == 0 %}
        {% break %}
      {% endif %}
    {% endfor %}
  {% endif %}
  {% if related_posts_num > 0 %}
    {% for post in site.posts %}
    {% if page.series and post.series == page.series %}{% continue %}{% endif %}
      {%- if post.draft -%}
        {%- continue -%}
      {%- endif -%}
      {% unless related_posts contains post or post.url == page.url %}
        {% assign recommendation_reason = recommendation_reason
          | push: 'time'
        %}
        {% assign related_posts = related_posts | push: post %}
        {% assign related_posts_num = related_posts_num | minus: 1 %}
      {% endunless %}
      {% if related_posts_num == 0 %}
        {% break %}
      {% endif %}
    {% endfor %}
  {% endif %}
  {% comment %} find suggest END {% endcomment %}

  <h2 class='sector__title suggest__title'>相关文章</h2>
  {%- if related_posts.size == 0 -%}
    <div class='sector__content--draft suggest__content--draft'>
      暂无相关文章。
    </div>
  {%- else -%}
    <ul class='suggest__content'>
      {% for i in (0..related_posts_tot_num) %}
        {% unless related_posts[i] %}{% continue %}{% endunless %}
        <li class='suggest__item'>
          <a
            href='{{ related_posts[i].url | relative_url }}'
            class='suggest__item-link{% if related_posts[i].cover_image %} suggest__item-link--illustrated{% endif %}'
          >
            {% assign suggested_post = related_posts[i] %}{% include cover_art.html post=suggested_post class='suggest-art' %}
            <span class='suggest__item-link-text'>{{ related_posts[i].title }}</span>
            <span class='suggest__item-arrow' aria-hidden='true'>{% include arrow.html %}</span>
          </a>
        </li>
      {% endfor %}
    </ul>
  {%- endif -%}
</div>
