<html>

<head>
    <!-- 标题 -->
    <title>
        {% if page.title %}
        {{ page.title | escape }}
        {% else %}
        {{ site.title | escape }}
        {% endif %}
    </title>

    <!-- 切换标题 -->
    <script>
        var title;  // 用于临时存放原来的title内容
        window.onblur = function () {
            title = document.title;
            document.title = "呜呜呜快回来QAQ";
        };
        window.onfocus = function () {
            if (title) {
                document.title = title;
            }
        }
    </script>

    <!-- 加载css -->
    <link rel="shortcut icon" type="image/x-icon" href="{{site.baseurl}}/assets/res/favicon.ico">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/materialize/0.99.0/css/materialize.min.css">
    <link rel="stylesheet" href="//fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="{{site.baseurl}}/assets/css/main.css">

    {% for css in layout.css %}
    {% if css contains "//" %}
    <link rel="stylesheet" href="{{css}}">
    {% else %}
    <link rel="stylesheet" href="{{site.baseurl}}/assets/css/{{css}}">
    {% endif %}
    {% endfor %}

    {% for css in page.css %}
    {% if css contains "//" %}
    <link rel="stylesheet" href="{{css}}">
    {% else %}
    <link rel="stylesheet" href="{{site.baseurl}}/assets/css/{{css}}">
    {% endif %}
    {% endfor %}

    <link rel="stylesheet" href="{{site.baseurl}}/assets/css/syntax.css">
    <link rel="alternate" type="application/rss+xml" title="RSS" href="{{site.baseurl}}/feed.xml">
    <link rel="sitemap" type="application/xml" title="Sitemap" href="{{site.baseurl}}/sitemap.xml">
</head>

<script>
    (function () {
        if ('{{ page.password }}') {
            while (prompt('请输入密码') !== '{{ page.password }}') {
                alert('密码错误！');
                //history.back();
            }
        }
    })();
</script>

<section class="hero-1 position-relative align-items-center justify-content-center d-flex"
    style="background-image: url(https://images.pexels.com/photos/426444/pexels-photo-426444.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);"
    id="home">
    <div class="container">
        <div class="row">
            <div class="col">
                <h1 class="text-white mt-xl-5">Homepage.</h1>
                <h4 class="font-weight-normal text-white">We Set the Dark on Fire.</h4>
                <div class="hero-line my-5"></div>
                <p class="text-white-70">
                    It will light the way for a new generation of rebels and lovers.
                </p>
                <a href="#Links" class="btn btn-primary mt-4">Learn More</a>
            </div>
        </div>
    </div>
</section>

<!-- creative works start -->
<section class="section2" id="Links">
    <div class="container">
        <div class="row">
            <div class="col-12 mb-4">
                <h2 class="mb-0 title">Links<span class="title-border ml-4 pl-3"></span></h2>
            </div>
            <ul class="col container-filter categories-filter list-unstyled mt-4 pt-2" id="filter">
                <li class="list-inline-item cat-list mr-sm-4 mr-2"><a href="{{site.baseurl}}/courselist">Course List</a>
                </li>
            </ul>
        </div><!-- end row -->
    </div>
</section><!-- creative works end -->