.category__item { display: flex; justify-content: space-between; align-items: center; padding: 24px 0; text-decoration: none; color: var(--black-color); }
.category__item-title { font-size: 30px; font-weight: 800; }
.category__item-info { font: 22px var(--mono-font); color: var(--accent-text); }
.category__item-info > span { font:11px var(--text-font); color:var(--gray-color); }
.category__separator { width: 100%; border: 0; border-top: 1px solid var(--line-color); margin: 0; }
.category__item:hover { color: var(--accent-text); }
