$color-words-and-lines: null;
$color-background: null;
$color-block: null;
$color-words-and-lines-hover: null;
$color-background-hover: null;

@mixin light-appearance {
    $color-words-and-lines: rgb(50, 50, 50);
    $color-background: rgb(255, 255, 255);
    $color-block: rgba(0, 0, 0, 0.02);
    $color-words-and-lines-hover: rgb(255, 255, 255);
    $color-background-hover: rgb(50, 50, 50);

    color: $color-words-and-lines;
    background-color: $color-background;
}

@mixin dark-appearance {
    $color-words-and-lines: rgb(200, 200, 200);
    $color-background: rgb(0, 0, 0);
    $color-block: rgba(255, 255, 255, 0.1);
    $color-words-and-lines-hover: rgb(0, 0, 0);
    $color-background-hover: rgb(200, 200, 200);

    color: $color-words-and-lines;
    background-color: $color-background;

}