.footer-wrapper {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  display: grid;
  place-content: center;
  padding: 1rem 0;
  background-color: var(--primary-light-color);
  color: var(--primary-little-light-color);
  font-family: var(--ui-font);
  font-weight: 900;
  box-shadow: var(--normal-shadow);
  z-index: 10;

  .footer__copyright {
    margin: 0;
    text-align: center;

    .footer__copyright-link {
      color: var(--primary-little-light-color);
      transition: color 0.25s ease-in-out;

      @media (hover: hover) {
        &:hover {
          color: var(--primary-color);
        }
      }
    }
  }
}

@media screen and ((max-height: 1024px) or (max-height: 650px)) {
  .footer-wrapper {
    padding: 0.5rem 0;
  }
}
