html[data-theme="light"] {
  --primary-dark-color: hsl(10, 100%, 20%);
  --primary-semi-dark-color: hsl(12, 100%, 35%);
  --primary-color: hsl(15, 100%, 50%);
  --primary-little-light-color: hsl(16, 100%, 65%);
  --primary-semi-light-color: hsl(18, 100%, 85%);
  --primary-light-color: hsl(20, 100%, 95%);
  --primary-extra-light-color: hsl(20, 100%, 98%);
  --white-color: hsl(0, 0%, 100%);
  --black-color: hsl(0, 0%, 0%);
}

html[data-theme="dark"] {
  --primary-dark-color: hsl(0, 0%, 60%);
  --primary-semi-dark-color: hsl(16, 100%, 65%);
  --primary-color: hsl(15, 100%, 50%);
  --primary-little-light-color: hsl(12, 100%, 35%);
  --primary-semi-light-color: hsl(0, 0%, 20%);
  --primary-light-color: hsl(0, 0%, 10%);
  --primary-extra-light-color: hsl(0, 0%, 5%);
  --white-color: hsl(0, 0%, 0%);
  --black-color: hsl(0, 0%, 90%);
}

@font-face {
  font-family: 'Orbitron';
  font-style: normal;
  font-weight: 400 900;
  font-display: swap;
  src: url(/assets/font/Orbitron.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'Material Symbols Outlined';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/assets/font/Material_Symbols_Outlined.woff2) format('woff2');
}

.material-symbols-outlined {
  font-family: 'Material Symbols Outlined', none;
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: none;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-smoothing: antialiased;
}

$ui-font: 'Orbitron', sans-serif;
$text-font: 'Helvetica Neue', 'Helvetica', '微软雅黑', 'Arial', 'sans-serif';

@mixin header-scroll-animation {
  animation-timing-function: linear;
  animation-fill-mode: forwards;
  animation-timeline: scroll();
  animation-range: 0 10rem;
}

::selection {
  color: var(--white-color);
  background-color: var(--primary-little-light-color);
}

::-webkit-scrollbar {
  width: 0.25rem;
}

::-webkit-scrollbar-thumb {
  background-color: var(--primary-color);
}

::-webkit-scrollbar-track {
  background-color: var(--primary-extra-light-color);
}

:root {
  font-size: 16px;
  font-family: $text-font;
}

@media screen and (max-width: 1024px) {
  :root {
    font-size: 14px;
  }
}

@media screen and (max-width: 768px) {
  :root {
    font-size: 12px;
  }
}

@media screen and (max-width: 550px) {
  :root {
    font-size: 12px;
  }
}

@media screen and (max-width: 425px) {
  :root {
    font-size: 12px;
  }
}

html {
  overflow-x: hidden;
}

body {
  width: 100%;
  min-height: 100vh;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  gap: 1rem;
  scroll-behavior: smooth;
  background-color: var(--white-color);
}

* button {
  cursor: pointer;
}

* .no-select {
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  -webkit-user-drag: none;
  -moz-user-drag: none;

  img {
    pointer-events: none;
  }
}

* .material-symbols-outlined {
  vertical-align: -0.2em;
}

* .iconify {
  vertical-align: -0.1em;
}