@mixin syntax_dark {
  .highlight {
    .c, .ch, .cd, .cpf, .cm, .c1 { color: #5e5d83; font-style: italic; }
    .gu { color: #465457; }
    .cp { color: #465457; font-weight: bold; }
    .cs { color: #465457; font-weight: bold; font-style: italic; }
    .gh, .go { color: #403d3d; }
    .err { color: #f8f8f2; background-color: #403d3d; }
    .gi, .na { color: #a6e22e; }
    .nc, .nd, .ne, .nf, .fm { color: #a6e22e; font-weight: bold; }
    .gd, .gr, .gt, .nt { color: #f92672; }
    .kn, .ow, .o { color: #f92672; font-weight: bold; }
    .ge { color: #1b1d1e; font-style: italic; }
    .gp, .no { color: #66efb8; }
    .k, .kv, .kc, .kd, .kp, .kr, .kt { color: #66d9ef; font-weight: bold; }
    .mf, .mh, .il, .mi, .mo, .m, .mb, .mx, .se { color: #af87ff; }
    .sb, .sc, .sd, .s2, .sh, .si, .sx, .sr, .s1, .ss, .s, .sa, .dl { color: #d7d787; }
    .bp, .nb, .ni, .nn, .vc, .vg, .vi, .nv, .vm, .w { color: #f8f8f2; }
    .nl { color: #f8f8f2; font-weight: bold; }
    .gs { font-weight: bold; }
  }
}
