.about_content {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
    place-content: center;
    grid-gap: 10px;

    padding-bottom: 10px;

    .title {
        grid-column: 1;
        grid-row: 1;

        text-align: center;

        font-size: 1.5em;
        font-weight: bold;
    }

    .content {
        grid-column: 1;
        grid-row: 2;
    }
}

.about_content>.content {
    display: grid;
    grid-template-columns: 200px 1fr;
    grid-template-rows: auto 1fr 1fr 1fr 1fr;
    grid-gap: 20px;

    .image {
        grid-column: 1;
        grid-row: 1 / 5;

        max-width: 100%;
    }

    .description {
        grid-column: 2;
        grid-row: 1;

        margin: 0;

        font-family: 'Times New Roman', ' 微软雅黑', ' Arial';
        font-size: 1.2em;
        line-height: 1.5em;
    }

    .github {
        grid-column: 2;
        grid-row: 2;
    }

    .contact {
        grid-column: 2;
        grid-row: 3;
    }

    .skill {
        grid-column: 2;
        grid-row: 4;
    }

    .learn {
        grid-column: 2;
        grid-row: 5;
    }

    .github,
    .contact,
    .skill,
    .learn {
        display: grid;
        grid-template-columns: 120px 1fr;
        grid-template-rows: auto;

        height: 1.2em;

        .name {
            grid-column: 1;
            grid-row: 1;

            margin: 0;

            font-weight: bold;

            align-self: center;

            height: 1.2em;
        }

        .detail {
            grid-column: 2;
            grid-row: 1;

            height: 1.2em;

            align-self: center;

            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            gap: 10px;

            a {
                max-height: 1.2em;

                img {
                    max-height: 1.2em;
                }
            }
        }
    }

    .contact,
    .skill,
    .learn {
        .detail .item {
            padding: 2px 5px;
            border: 1px solid $color-words-and-lines;

            text-decoration: none;
            color: $color-words-and-lines;

            display: inline-block;

            font-size: 0.8em;

            img {
                max-width: 1em;
            }
        }
    }

    @media screen and (max-width: 850px) {
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        grid-gap: 10px;

        .image {
            grid-column: 1;
            grid-row: 1;

            max-width: 200px;

            margin: 0 auto;
        }

        .description {
            grid-column: 1;
            grid-row: 2;
        }

        .github {
            grid-column: 1;
            grid-row: 3;
        }

        .contact {
            grid-column: 1;
            grid-row: 4;
        }

        .skill {
            grid-column: 1;
            grid-row: 5;
        }

        .learn {
            grid-column: 1;
            grid-row: 6;
        }
    }

    @media screen and (max-width: 500px) {

        .github,
        .contact,
        .skill,
        .learn {
            grid-template-columns: auto;
            grid-template-rows: auto;

            .name {
                grid-column: 1;
                grid-row: 1;

                margin-bottom: 5px;
            }

            .detail {
                grid-column: 1;
                grid-row: 2;
            }
        }
    }

}