// 预先定义一些颜色
$color-words-and-lines-light: rgb(50, 50, 50);
$color-background-light: white;
$color-block-light: rgba(0, 0, 0, 0.02);

$color-words-and-lines-dark: rgb(200, 200, 200);
$color-background-dark: black;
$color-block-dark: rgba(255, 255, 255, 0.1);

@mixin dark-appearance {
    color: $color-words-and-lines-dark;
    background-color: $color-background-dark;

    button,
    .page-content>header,
    .page-content>main,
    .page-content>footer,
    .page-content .nav a,
    .page-content footer a {
        color: $color-words-and-lines-dark;
        background-color: $color-background-dark;
    }

    .page-content .nav a:hover,
    .page-content footer a:hover {
        color: $color-background-dark;
        background-color: $color-words-and-lines-dark;
    }

    .page-content>header,
    .page-content>main,
    .page-content>footer {
        border-color: $color-words-and-lines-dark;
    }
}
body[color_theme="dark"] {
    @include dark-appearance;
}

body {
    color: $color-words-and-lines-light;
    background-color: $color-background-light;

    .wider_screen_message {
        display: none;
        font-size: large;
        font-weight: bold;
    }

    @media screen and (max-width: 359px) {
        .page-content {
            display: none;
        }

        .wider_screen_message {
            display: block;
        }
    }
}

button {
    color:$color-words-and-lines-light;
    background-color: $color-background-light;

    cursor: pointer;
}

.no-select {
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    -webkit-user-drag: none;
    -moz-user-drag: none; 
    
    img {
        pointer-events: none;
    }
}

.material-symbols-outlined {
    vertical-align: -0.2em;
    padding-right: 2px;
}


// 设置总体 grid 布局
.page-content {
    width: 100%;
    height: auto;
    min-height: 100%;
    border: 0;
    margin: 0;
    padding: 0;

    font-size: 1.2em;
    font-family: 'Helvetica Neue', 'Helvetica', '微软雅黑', 'Arial', 'sans-serif';

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto;
    place-content: center;
    grid-gap: 10px;

    header, main, footer {
        width: 1200px;
        margin: 0 auto;
        padding: 5px 20px;
        border: 1px solid $color-words-and-lines-light;

        @media screen and (max-width: 1220px) {
            margin: 0;
            padding: 0 15px;
            width: calc(100% - 30px);
        }
    }

    header {
        grid-column: 1;
        grid-row: 1;
    
        // background-color: blue;
    }
    main {
        grid-column: 1;
        grid-row: 2;
    
        // background-color: green;
    }
    footer {
        grid-column: 1;
        grid-row: 3;
    
        // background-color: yellow;
    }
}

// 设置 header
.page-content > header {
    display: grid;
    grid-template-columns: auto 1fr auto;
    grid-template-rows: 1fr;
    grid-gap: 10px;

    * {
        border: 0;
        margin: 0;
        padding: 0;

        height: 100%;

        align-self: center;

        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .title {
        grid-column: 1;
        grid-row: 1;

        width: 100%;
        height: 100%;

        margin: 10px 0;

        font-size: 1.4em;
    }
    .nav {
        grid-column: 2;
        grid-row: 1;

        a {
            margin-left: 20px;

            text-decoration: none;
            color: $color-words-and-lines-light;

            // a标签除了span之外的子元素都要有下划线
            *:not(span) {
                text-decoration: underline;
            }
        }
        a:hover {
            color: $color-background-light;
            background-color: $color-words-and-lines-light;
        }
    }
    .theme {
        grid-column: 3;
        grid-row: 1;
    }

    @media screen and (max-width: 800px) {
        grid-template-columns: 1fr auto;
        grid-template-rows: 3fr 2fr;
        grid-gap: 0;

        .title {
            grid-column: 1;
            grid-row: 1;
        }
        .nav {
            grid-column: 1 / 3;
            grid-row: 2;

            a {
                margin-left: 0;
                padding-left: 0;
                padding-right: 10px;

                color: $color-words-and-lines-light;
            }
        }
        .theme {
            grid-column: 2;
            grid-row: 1;
        }
    }
    @media screen and (max-width: 500px) {
        .nav a span {
            display: none;
        }
    }
}

// 设置 footer
.page-content > footer {
    text-align: center;

    font-size: 0.8em;

    a {
        text-decoration: underline;
        color: $color-words-and-lines-light;
    }
    a:hover {
        color: $color-background-light;
        background-color: $color-words-and-lines-light;
    }
}