#comment-container {
  h1 {
    margin: 5rem 0 1rem 0;
    font-size: 1.5rem;
    font-weight: 900;
    font-family: $ui-font;
    color: var(--primary-color);
    text-align: center;
  }

  .giscus {
    margin: 0;
  }
}