header {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: start;
  font-family: $ui-font;
  width: 100%;
  height: 6rem;
  z-index: 5;

  #title-container {
    padding: 0 3rem 0.5rem 0.5rem;
    margin: 0;
    text-decoration: none;
    font-size: 2rem;
    font-weight: 900;
    line-height: 2rem;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: end;
    background-color: var(--primary-color);
    color: var(--white-color);
    height: calc(100% - 0.5rem);
    text-transform: uppercase;
    z-index: 8;

    p {
      margin: 0;
    }
  }

  #menu-container {
    margin: 0;
    padding: 0;
    flex-grow: 1;
    display: flex;
    align-items: end;
    justify-content: start;
    gap: 0;
    background-color: var(--primary-light-color);
    color: var(--black-color);
    height: 100%;

    a {
      position: relative;
      text-decoration: none;
      color: var(--black-color);
      height: calc(100% - 0.5rem);
      padding: 0 0.8rem 1rem 2.6rem;
      display: flex;
      flex-direction: column;
      align-items: start;
      justify-content: end;
      transition: all 0.25s ease-in-out;

      span {
        position: absolute;
        left: 0.8rem;
        bottom: 1.2rem;
        font-size: 3rem;
        color: var(--primary-semi-light-color);
        transition: all 0.25s ease-in-out;
      }

      p {
        margin: 0;
        font-size: 1.5rem;
        font-weight: 900;
        line-height: 1.5rem;
        text-transform: capitalize;
        z-index: 10;
        color: var(--primary-dark-color);
        transition: all 0.25s ease-in-out;
      }

      &.active {
        padding: 0.25rem 1.7rem 0.75rem 1.7rem;
        background-color: var(--primary-semi-light-color);
      
        span {
          color: var(--primary-little-light-color);
          font-size: 2.5rem;
          left: 50%;
          transform: translateX(-50%) translateY(-50%);
        }
      }
    }

    @media (hover: hover) {
      a:hover {
        padding: 0.25rem 1.7rem 0.75rem 1.7rem;
        background-color: var(--primary-semi-light-color);

        span {
          color: var(--primary-little-light-color);
          font-size: 2.5rem;
          left: 50%;
          transform: translateX(-50%) translateY(-50%);
        }
      }
    }
  }
}

@media screen and (max-width: 1024px) {
  header {
    flex-direction: column;
    height: 4rem;

    #title-container {
      width: 100%;
      padding: 0;
      flex-direction: row;
      gap: 1rem;
      align-items: center;
      justify-content: center;
    }

    #menu-container {
      display: none;
    }
  }
}

@media screen and (max-width: 425px) {
  header {
    height: 3rem;
  }
}

@media screen and (min-width: 1440px) {
  header {
    #title-container {
      padding: 0 3rem 0.5rem calc(50vw - 30rem);
    }
  }
}