main {
  padding: 16rem 1rem 8rem 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0;
  width: calc(100% - 2rem);

  #pagination-item-container {
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: 0.5rem;
    padding: 1rem 1.5rem;
    width: min(100%, 30rem);
    transition: background-color 0.25s ease-in-out;

    @media (hover: hover) {
      &:hover {
        background-color: var(--primary-light-color);
      }
    }

    #pagination-item-title {
      color: var(--primary-color);
      font-size: 1.5rem;
      font-weight: 900;
      font-family: $ui-font;
      margin: 0;

      #pagination-item-series {
        font-size: 1.25rem;
        font-weight: 700;
        color: var(--primary-little-light-color);
      }
    }

    #pagination-item-info {
      display: flex;
      align-items: center;
      justify-content: start;
      gap: 0.25rem 1rem;
      color: var(--primary-dark-color);
      white-space: nowrap;
      flex-wrap: wrap;

      #pagination-item-tag {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 0.25rem;
      }
    }

    .material-symbols-outlined {
      padding: 0;
    }
  }

  hr {
    width: min(100%, calc(30rem + 3rem));
    margin: 0;
    border: 1px solid var(--primary-light-color);
  }
}

@media screen and (max-width: 768px) {
  main {
    #pagination-item-container {
      width: min(100%, 40rem);
    }
  }
}

@media screen and (max-width: 550px) {
  main {
    #pagination-item-container {
      align-items: center;
      justify-content: center;

      #pagination-item-title {
        text-align: center;
      }

      #pagination-item-info {
        #pagination-item-tag {
          display: none;
        }
      }
    }
  }
}

@media screen and (max-width: 425px) {
  main {
    padding: 8rem 1rem 5.75rem 1rem;
  }
}

#pagination-count {
  margin-top: 3rem;
  width: 100%;
  text-align: center;
  color: var(--primary-little-light-color);
  font-size: 0.8rem;
  font-family: $ui-font;
  font-weight: 900;
  text-transform: uppercase;
}