// 预先定义一些颜色
$color-words-and-lines-light: rgb(50, 50, 50);
$color-background-light: white;
$color-block-light: rgba(0, 0, 0, 0.02);

$color-words-and-lines-dark: rgb(200, 200, 200);
$color-background-dark: black;
$color-block-dark: rgba(255, 255, 255, 0.1);

@mixin dark-appearance {
    color: $color-words-and-lines-dark;
    background-color: $color-background-dark;

    .post_content a {
        color: $color-words-and-lines-dark;
        background-color: $color-background-dark;
    }

    .post_content a:hover {
        color: $color-background-dark;
        background-color: $color-words-and-lines-dark;
    }

    blockquote {
        border-left-color: $color-words-and-lines-dark;
    }

    table {
        border-color: $color-words-and-lines-dark;

        thead {
            background-color: $color-block-dark;
            border-bottom-color: $color-words-and-lines-dark;
        }

        tbody tr td {
            text-align: center;
        }
    }

    pre:has(code) {
        background-color: $color-block-dark;
    }
}

body[color_theme="dark"] {
    @include dark-appearance;
}

.post_content {
    font-family: 'Times New Roman', ' 微软雅黑', ' Arial';
    line-height: 1.5em;

    word-wrap: break-word;
    word-break: break-all;

    .title {
        font-size: 1.4em;
        font-weight: bold;
        text-align: center;
    }

    .date {
        opacity: 60%;
        text-align: center;
    }

    h1 {
        font-size: 1.4em;
        font-weight: bold;

        ::before {
            content: '·';
        }
    }

    h2 {
        font-size: 1.2em;
        font-weight: bold;
    }

    h3 {
        font-size: 1.1em;
        font-weight: bold;
    }

    h4,
    h5 {
        font-weight: bold;
    }

    a {
        text-decoration: underline;
        color: $color-words-and-lines-light;
    }

    a:hover {
        color: $color-background-light;
        background-color: $color-words-and-lines-light;
    }

    p:has(img) {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    img {
        max-width: 80%;

        @media screen and (max-width: 750px) {
            max-width: 100%;
            min-width: 100%;
        }
    }

    blockquote {
        border-left: 1px solid $color-words-and-lines-light;

        padding-left: 10px;
    }

    table {
        border: 1px solid $color-words-and-lines-light;
        width: 100%;
        margin: 0 auto;

        thead {
            background-color: $color-block-light;
            border-bottom: 1px solid $color-words-and-lines-light;
        }

        tbody tr td {
            text-align: center;
        }
    }

    pre:has(code) {
        background-color: $color-block-light;
    }

    code,
    code * {
        font-family: 'Courier New', Courier, monospace, '微软雅黑';
        white-space: pre-wrap;
    }
}