.post_content {
    font-family: 'Times New Roman', ' 微软雅黑', ' Arial';
    line-height: 1.5em;

    word-wrap: break-word;
    word-break: break-all;

    .title {
        font-size: 1.4em;
        font-weight: bold;
        text-align: center;
    }

    .date {
        opacity: 60%;
        text-align: center;
    }

    h1 {
        font-size: 1.4em;
        font-weight: bold;
    }

    h2 {
        font-size: 1.2em;
        font-weight: bold;
    }

    h3 {
        font-size: 1.1em;
        font-weight: bold;
    }

    h4,
    h5 {
        font-weight: bold;
    }

    p:has(img) {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    img {
        max-width: 80%;

        @media screen and (max-width: 750px) {
            max-width: 100%;
            min-width: 100%;
        }
    }

    blockquote {
        border-left: 1px solid $color-words-and-lines;

        padding-left: 10px;
    }

    table {
        border: 1px solid $color-words-and-lines;
        width: 100%;
        margin: 0 auto;

        thead {
            border-bottom: 1px solid $color-words-and-lines;
        }

        tbody tr td {
            text-align: center;
        }
    }

    code,
    code * {
        font-family: 'Courier New', Courier, monospace, '微软雅黑';
        white-space: pre-wrap;
    }
}