.project_content {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
    place-content: center;
    grid-gap: 10px;

    .title {
        grid-column: 1;
        grid-row: 1;

        text-align: center;

        font-size: 1.5em;
        font-weight: bold;
    }

    .content {
        grid-column: 1;
        grid-row: 2;
    }
}

.project_content>.content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: masonry;
    grid-gap: 10px;

    margin-bottom: 15px;

    .item {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto 3fr auto auto;
        grid-gap: 5px;

        border: 1px solid $color-words-and-lines;
        padding: 10px;
    }

    @media screen and (max-width: 1024px) {
        grid-template-columns: repeat(2, 1fr);
    }

    @media screen and (max-width: 700px) {
        grid-template-columns: 1fr;
    }
}

.project_content>.content .item {
    .title {
        grid-column: 1;
        grid-row: 1;

        margin: 0;

        text-align: left;

        font-size: 1.2em;
        font-weight: bold;
    }

    .description {
        grid-column: 1;
        grid-row: 2;

        margin: 0;

        font-size: 0.8em;

        opacity: 80%;
    }

    .tech {
        grid-column: 1;
        grid-row: 3;

        margin: 0;

        .tech_item {
            display: inline-block;

            font-size: 0.8em;

            padding: 2px 5px;
            border: 1px solid $color-words-and-lines;
        }
    }

    .link {
        grid-column: 1;
        grid-row: 4;

        margin: 0;

        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-direction: row;
        gap: 10px;
    }
}