#search-container {
  * {
    box-sizing: border-box;
  }

  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 100;

  #search-button {
    display: block;
    width: 3rem;
    height: 3rem;
    line-height: 3rem;
    font-size: 2rem;
    text-align: center;
    background-color: var(--primary-little-light-color);
    color: var(--primary-light-color);
    cursor: pointer;
    transition: background-color 0.25s ease-in-out;

    @media (hover: hover) {
      &:hover {
        background-color: var(--primary-color);
      }
    }
  }

  #search-input {
    /* remove default styles */
    appearance: none;
    border: none;
    outline: none;
    background-color: var(--primary-light-color);
    color: var(--primary-dark-color);
    width: 0;
    height: 3rem;
    font-size: 1.2rem;
    font-weight: 700;
    padding: 0;
    transition: all 0.25s ease-in-out;

    &::placeholder {
      color: var(--primary-semi-light-color);
    }
  }

  #results-container {
    position: absolute;
    bottom: 3rem;
    left: 0;
    right: 0;
    width: 23rem;
    height: auto;
    max-height: 50vh;
    overflow-x: hidden;
    overflow-y: scroll;

    #results {
      list-style-type: none;
      margin: 0;
      padding: 0;
      width: 100%;
      background-color: var(--primary-extra-light-color);
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      li {
        padding: 1.5rem 1rem;
        width: 100%;
        cursor: pointer;
        transition: all 0.25s ease-in-out;

        &:not(:last-child) {
          border-bottom: 1px solid var(--primary-semi-light-color);
        }

        a {
          text-decoration: none;
          color: inherit;
          width: 100%;
          height: 100%;
          word-wrap: break-word;
          word-break: break-all;
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          justify-content: center;
          gap: 0.5rem;

          .search-title {
            font-size: 1.2rem;
            font-weight: 900;
            color: var(--primary-color);
            font-family: $ui-font;
          }

          .search-content {
            margin: 0;
            font-size: 1rem;
            line-height: 1.5rem;
            color: var(--primary-dark-color);
            font-family: $text-font;
          }

          em {
            font-style: normal;
            padding: 0 0.25rem;
            background-color: var(--primary-dark-color);
            color: var(--primary-extra-light-color);
          }
        }

        @media (hover: hover) {
          &:hover {
            background-color: var(--primary-semi-light-color);
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1024px) {
  #search-container {
    #search-button {
      width: 2.5rem;
      height: 2.5rem;
      line-height: 2.5rem;
      font-size: 1.5rem;
      background-color: var(--primary-color);
    }

    #search-input {
      height: 2.5rem;
      font-size: 1.25rem;
    }

    #results-container {
      bottom: 2.5rem;
      width: 22rem;
    }
  }
}