#sidebar-container {
  position: fixed;
  bottom: 6rem;
  right: max(2rem, calc((100vw - min(100% - 2rem, 40rem)) / 2 - 16rem));
  display: flex;
  flex-direction: column;
  align-items: end;
  justify-content: center;
  gap: 1rem;

  #back-to-top-button,
  #menu-container-mobile,
  #theme-switcher {
    display: block;
    width: 3rem;
    height: 3rem;
    line-height: 3rem;
    font-size: 2rem;
    text-align: center;
    background-color: var(--primary-little-light-color);
    color: var(--primary-light-color);
    cursor: pointer;
    transition: background-color 0.25s ease-in-out;

    @media (hover: hover) {
      &:hover {
        background-color: var(--primary-color);
      }
    }
  }

  #menu-container-mobile {
    display: none;

    menu {
      display: none;
    }
  }
}

@media screen and (max-width: 1024px) {
  #sidebar-container {
    bottom: 5rem;
    right: 1.5rem;

    #back-to-top-button,
    #menu-container-mobile,
    #theme-switcher {
      width: 2.5rem;
      height: 2.5rem;
      line-height: 2.5rem;
      font-size: 1.5rem;
      background-color: var(--primary-color);
    }

    #back-to-top-button {
      z-index: -2;
    }

    #menu-container-mobile {
      position: relative;
      display: block;

      #menu-container-mobile-button {
        position: relative;
        z-index: 91;
      }

      #menu-container-mobile-menu {
        position: absolute;
        bottom: 0;
        right: 1.5rem;
        background-color: var(--primary-light-color);
        width: 14rem;
        padding: 1rem;
        flex-direction: column;
        gap: 0.6rem;
        z-index: -1;

        a {
          position: relative;
          text-decoration: none;
          color: var(--black-color);
          display: flex;
          align-items: center;
          justify-content: start;
          gap: 0.5rem;

          span {
            color: var(--primary-semi-light-color);
          }

          p {
            margin: 0;
            font-size: 1.2rem;
            font-weight: 700;
            line-height: 1.5rem;
            text-transform: capitalize;
            z-index: 10;
            color: var(--primary-dark-color);
          }
        }
      }
    }
  }
}