main {
  #tag-container {
    width: min(100%, 60rem);
    justify-content: center;

    #tag-item-container {
      text-decoration: none;
      display: inline-flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      gap: 0.5rem;
      padding: 0.5rem 1rem;
      transition: background-color 0.1s ease-in-out;

      @media (hover: hover) {
        &:hover {
          background-color: var(--primary-light-color);

          #tag-item-title {
            color: var(--primary-little-light-color);
          }

          #tag-item-info {
            background-color: var(--primary-semi-light-color);
            color: var(--primary-little-light-color);
          }
        }
      }

      #tag-item-title {
        color: var(--primary-semi-dark-color);
        font-size: 1.5rem;
        font-weight: 900;
        font-family: var(--ui-font);
        margin: 0;
        transition: all 0.1s ease-in-out;
      }

      #tag-item-info {
        display: flex;
        align-items: center;
        justify-content: center;
        color: var(--white-color);
        color: var(--primary-semi-light-color);
        background-color: var(--primary-light-color);
        width: 1.5rem;
        height: 1.5rem;
        border-radius: 50%;
        transition: all 0.1s ease-in-out;
      }

      .material-symbols-outlined {
        padding: 0;
      }
    }
  }
}
