#toc-container {
  position: fixed;
  top: 15rem;
  right: 0.5rem;
  width: min(16rem, calc((100vw - min(100% - 2rem, 40rem)) / 2 - 2rem));
  color: var(--primary-dark-color);
  box-sizing: border-box;
  padding: 1rem;
  font-size: 1rem;
  z-index: 88;

  button {
    display: none;
    background-color: transparent;
    border: none;
    padding: 0;
    margin: 0;
  }

  ul:not(.expand) {
    display: none;
  }

  &>ul {
    list-style-type: none;
    margin: 0;
    padding: 0 0.25rem 0 0;
    width: 100%;
    max-height: calc(100vh - 35rem);
    box-sizing: border-box;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    &::-webkit-scrollbar-thumb {
      background-color: transparent;
      transition: all 0.25s ease-in-out;
    }

    &::-webkit-scrollbar-track {
      background-color: transparent;
      transition: all 0.25s ease-in-out;
    }

    @media (hover: hover) {
      &:hover::-webkit-scrollbar-thumb {
        background-color: var(--primary-semi-light-color);
      }

      &:hover::-webkit-scrollbar-track {
        background-color: var(--primary-extra-light-color);
      }
    }

    a {
      color: inherit;
      text-decoration: none;
      transition: all 0.25s ease-in-out;

      &.active {
        color: var(--primary-color);
      }
    }

    &>li>a {
      font-weight: 700;
      font-size: 1.1rem;
    }

    li {
      list-style-type: none;
      margin: 0;
      padding: 0.1rem 0;
    }

    ul {
      margin: 0;
      padding: 0 0 0 1.5rem;
    }

    @keyframes toc-ul-scroll {
      100% {
        max-height: calc(100vh - 25rem);
      }
    }

    animation-name: toc-ul-scroll;
    @include header-scroll-animation;
  }

  @keyframes toc-scroll {
    100% {
      top: 5rem;
    }
  }

  animation-name: toc-scroll;
  @include header-scroll-animation;
}

@media screen and (min-width: 1440px) {
  .toc {
    right: calc((100vw - 40rem) / 2 - 20rem);
  }
}

@media screen and (max-width: 1440px) and (min-width: 1024px) {
  .toc {
    font-size: 0.9rem;

    &>li>a {
      font-size: 1rem;
    }
  }
}

@media screen and (max-width: 1024px) {
  #toc-container {
    position: relative;
    top: 0;
    right: 0;
    width: auto;
    padding: 0;

    button {
      box-sizing: border-box;
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      width: 2.5rem;
      height: 2.5rem;
      line-height: 2.5rem;
      font-size: 1.5rem;
      background-color: var(--primary-color);
      color: var(--white-color);
      z-index: 92;
    }

    &>ul {
      display: none;
      position: absolute;
      bottom: 1.5rem;
      right: 1.5rem;
      background-color: var(--primary-light-color);
      width: 16rem;
      padding: 1rem;
      z-index: -1;
    }

    @keyframes toc-scroll {
      100% {
        bottom: 2rem;
      }
    }

    animation-name: toc-scroll;
    @include header-scroll-animation;
  }
}