<!DOCTYPE html>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta charset="utf-8">
<title>{{ page.title }}</title>
<html lang="en">
  {% include head.html %}
  <body class="page">
    {% include background.html %}
    {% include collection_list.html %}
    <div class="container" id="ctner">
       {% include header.html %}
      <div class="div_article" id="div_atcl">
        <article
          id="main_atcl"
          itemscope
          itemtype="http://schema.org/BlogPosting"
        >
          {{content}} {% include post_list.html %} {% include comment.html %}
        </article>
        {% if page.footer != false %} {% include footer.html %} {% endif %}
      </div>
    </div>
  </body>
  <link rel="alternate" type="application/rss+xml" href="{{ site.url }}/feed.xml" title="{{ site.title }}">
  <script async src="{{site.url}}{{site.baseurl}}/src/assets/js/init-mermaid.js"></script>
  <script async src="{{site.url}}{{site.baseurl}}/src/assets/js/init-code.js"></script>
  <script async src="{{site.url}}{{site.baseurl}}/src/assets/js/zoom-image.js"></script>
</html>
