---
---
@mixin transition($args...)
  -webkit-transition: $args
  -moz-transition: $args
  -ms-transition: $args
  -o-transition: $args
  transition: $args

$transparent: rgba(0,0,0,0)

$header: #000000

$h1-before:        #008d3f
$h1-hover:         #7ddaa5
$h1-text:          #000000
$h1-text-hover:    #ffffff
$h1-border-bottom: #dddddd
$h2-before:        #008cd7
$h2-hover:         #63b9e7
$h2-text:          #000000
$h2-text-hover:    #ffffff
$h3-before:        #901674
$h3-hover:         #cc68b5
$h3-text:          #000000
$h3-text-hover:    #ffffff
$h4-before:        #c80067
$h4-hover:         #db77ab
$h4-text:          #000000
$h4-text-hover:    #ffffff
$h5-before:        #b91b22
$h5-hover:         #db6e74
$h5-text:          #000000
$h5-text-hover:    #ffffff
$h6-before:        #ecca00
$h6-hover:         #f1dd6b
$h6-text:          #000000
$h6-text-hover:    #ffffff

$table-th:    #dbdbdb
$table-2n:    #fafafa
$table-hover: #eeeeee

$copybuttom:            #008d3f
$copybutton-text-hover: #ffffff

$chip:            #616161
$chip-text-hover: #ffffff


main

  .row
    h1, h2, h3, h4, h5, h6
      font-weight: bold
      padding-left: 15px
    
    h1:hover, h1:hover a, 
    h2:hover, h2:hover a, 
    h3:hover, h3:hover a, 
    h4:hover, h4:hover a, 
    h5:hover, h5:hover a, 
    h6:hover, h6:hover a
      transition: all 0.25s ease

    h1
      padding-top: .2rem
      padding-bottom: .2rem
      font-size: 2.2rem
      line-height: 1.3
      margin: 35px 0 15px
      border-bottom: 1px solid $h1-border-bottom
      border-left: 5px solid $h1-before

      a
        color: $h1-text

    h1:hover
      background-color: $h1-before
      border-bottom: 1px solid $transparent
      border-left: 5px solid $h1-hover

      a
        color: $h1-text-hover

    h2
      font-size: 1.75rem
      line-height: 1.225
      padding-top: .15rem
      padding-bottom: .15rem
      border-left: 5px solid $h2-before

      a
        color: $h2-text

    h2:hover
      background-color: $h2-before
      border-left: 5px solid $h2-hover

      a
        color: $h2-text-hover

    h3
      font-size: 1.4rem
      line-height: 1.225
      padding-top: .125rem
      padding-bottom: .125rem
      border-left: 5px solid $h3-before
      
      a
        color: $h3-text

    h3:hover
      background-color: $h3-before
      border-left: 5px solid $h3-hover

      a
        color: $h3-text-hover

    h4
      font-size: 1.2rem
      border-left: 5px solid $h4-before
      padding-top: .125rem
      padding-bottom: .125rem
      
      a
        color: $h4-text

    h4:hover
      background-color: $h4-before
      border-left: 5px solid $h4-hover

      a
        color: $h4-text-hover

    h5
      font-size: 1rem
      border-left: 5px solid $h5-before
      padding-top: .125rem
      padding-bottom: .125rem
      
      a
        color: $h5-text

    h5:hover
      background-color: $h5-before
      border-left: 5px solid $h5-hover

      a
        color: $h5-text-hover

    h6
      font-size: 1rem
      border-left: 5px solid $h6-before
      padding-top: .125rem
      padding-bottom: .125rem
      
      a
        color: $h6-text

    h6:hover
      background-color: $h6-before
      border-left: 5px solid $h6-hover

      a
        color: $h6-text-hover

    img
      display: block
      margin: 0 auto
      max-width: 100%
      justify-content: center
      align-self: center

    .divider
      margin: 10px 0

    .highlighter-rouge
      margin: 1em 20px

      pre
        padding: 5px 0px 5px 0px

    table
      border: thin solid black

      tr:nth-child(2n)
        background-color: $table-2n

      tbody tr:hover
        background-color: $table-hover

    th
      text-align: center
      background-color: $table-th

    td, th
      padding: 5px 5px

    .copybutton
      user-select: none
      float: right
      border: solid 1px $copybuttom
      color: $copybuttom
      border-radius: 3px
      display: inline-block
      margin: 0px 3px auto auto
      height: 25px
      vertical-align: middle
      line-height: 20px

      a
        text-decoration: none
        color: $copybuttom

      .material-icons
        user-select: none
        transform: scale(0.6)
        vertical-align: middle

      p
        user-select: none
        font-size: 10px
        font-family: system-ui,-apple-system,BlinkMacSystemFont,PingFang SC,Microsoft YaHei UI,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,Helvetica,Arial,sans-serif
        padding-right: 4px
        vertical-align: middle
        display: inline

    .copybutton:hover
      background-color: $copybuttom
      color: $copybutton-text-hover

      a
        color: $copybutton-text-hover

#post-info
  a
    text-decoration: none

  h3
    font-weight: bold
    font-size: 40px
    margin-bottom: 140px
    margin-top: 180px
    text-align: center

    a
      color: $header

  td
    word-wrap: break-word
    height: 0em

    i
      font-size: 18px
      margin-right: 10px
      vertical-align: middle
      display: inline-block

      &#indicate
        font-size: 16px

  .chip
    color: $chip
    margin-right: 5px
    font-size: 14px

    &:hover
      color: $chip-text-hover
      background-color: $chip

      @include transition(all .3s ease-in-out)

@media only screen and (max-width: 992px)
  #post-info
    h3
      margin-bottom: 40px

    ul
      &:not(.browser-default)
        width: 100%

@media only screen and (max-width: 1202px)
  #post-info
    table
      table-layout: automatic

    td
      word-wrap: normal

    i
      font-size: 14px
      margin-right: 2px

      &#indicate
        font-size: 13px

    .chip
      margin-right: 1px
      font-size: 12px

  main .copybutton p
    display: none

@media only screen and (max-width: 1040px)
  main .copybutton
    display: none

.cpbtn-expand
  border-radius: 5px!important
  text-align: center!important
  display: block!important
  float: none!important

  .material-icons
    float: center!important