.highlight table td { padding: 5px 0px; }

.highlight table pre { margin: 0; }

code {
    font-family: 'Courier New', Courier, monospace;
}

pre {
    position: relative;
    overflow: hidden;
}
pre code {
   display: block;
   padding: 0px 12px;
   overflow-y: auto;
   font-weight: 300;
   font-family: 'Courier New', Courier, monospace;
}
code.has-numbering {
    margin-left: 21px;
}
.pre-numbering {
    user-select:none;
    pointer-events:none;
    position: absolute;
    top: 0;
    left: 0;
    width: 26px;
    margin: 0px!important;
    padding: 5px!important;
    background-color: rgb(250, 250, 250);
    text-align: right;
    font-family: 'Courier New', Courier, monospace;
    color: rgb(220, 220, 220);
}
.pre-numbering li {
    user-select:none;
    pointer-events:none;
    list-style-type: none!important;
    padding: 0!important;
}

.highlight,.gist-highlight {margin-left: 0px; word-wrap:normal;}

.highlight,.gist-highlight{background-color: rgb(250, 250, 250);}

.highlight .hll,.gist-highlight .hll{background-color:#ffc;}
.highlight .c, .gist-highlight .c{color:#408080;}
/*.highlight .err,.gist-highlight .err{border:1px solid #f00;}*/
.highlight .k, .gist-highlight .k{color:#008000;}
.highlight .o, .gist-highlight .o{color:#666;}
.highlight .cm,.gist-highlight .cm{color:#408080;}
.highlight .cp,.gist-highlight .cp{color:#bc7a00;}
.highlight .c1,.gist-highlight .c1{color:#408080;}
.highlight .cs,.gist-highlight .cs{color:#408080;}
.highlight .gd,.gist-highlight .gd{color:#a00000;}
.highlight .gr,.gist-highlight .gr{color:#f00;}
.highlight .gh,.gist-highlight .gh{color:#000080;}
.highlight .gi,.gist-highlight .gi{color:#00a000;}
.highlight .go,.gist-highlight .go{color:#808080;}
.highlight .gp,.gist-highlight .gp{color:#000080;}
.highlight .gu,.gist-highlight .gu{color:#800080;}
.highlight .gt,.gist-highlight .gt{color:#0040d0;}
.highlight .kc,.gist-highlight .kc{color:#008000;}
.highlight .kd,.gist-highlight .kd{color:#008000;}
.highlight .kn,.gist-highlight .kn{color:#008000;}
.highlight .kp,.gist-highlight .kp{color:#008000;}
.highlight .kr,.gist-highlight .kr{color:#008000;}
.highlight .kt,.gist-highlight .kt{color:#b00040;}
.highlight .m, .gist-highlight .m{color:#666;}
.highlight .s, .gist-highlight .s{color:#ba2121;}
.highlight .na,.gist-highlight .na{color:#7d9029;}
.highlight .nb,.gist-highlight .nb{color:#008000;}
.highlight .nc,.gist-highlight .nc{color:#00f;}
.highlight .no,.gist-highlight .no{color:#800;}
.highlight .nd,.gist-highlight .nd{color:#a2f;}
.highlight .ni,.gist-highlight .ni{color:#999;}
.highlight .ne,.gist-highlight .ne{color:#d2413a;}
.highlight .nf,.gist-highlight .nf{color:#00f;}
.highlight .nl,.gist-highlight .nl{color:#a0a000;}
.highlight .nn,.gist-highlight .nn{color:#00f;}
.highlight .nt,.gist-highlight .nt{color:#008000;}
.highlight .nv,.gist-highlight .nv{color:#19177c;}
.highlight .ow,.gist-highlight .ow{color:#a2f;}
.highlight .w, .gist-highlight .w{color:#bbb;}
.highlight .mf,.gist-highlight .mf{color:#666;}
.highlight .mh,.gist-highlight .mh{color:#666;}
.highlight .mi,.gist-highlight .mi{color:#666;}
.highlight .mo,.gist-highlight .mo{color:#666;}
.highlight .sb,.gist-highlight .sb{color:#ba2121;}
.highlight .sc,.gist-highlight .sc{color:#ba2121;}
.highlight .sd,.gist-highlight .sd{color:#ba2121;}
.highlight .s2,.gist-highlight .s2{color:#ba2121;}
.highlight .se,.gist-highlight .se{color:#b62;}
.highlight .sh,.gist-highlight .sh{color:#ba2121;}
.highlight .si,.gist-highlight .si{color:#b68;}
.highlight .sx,.gist-highlight .sx{color:#008000;}
.highlight .sr,.gist-highlight .sr{color:#b68;}
.highlight .s1,.gist-highlight .s1{color:#ba2121;}
.highlight .ss,.gist-highlight .ss{color:#19177c;}
.highlight .bp,.gist-highlight .bp{color:#008000;}
.highlight .vc,.gist-highlight .vc{color:#19177c;}
.highlight .vg,.gist-highlight .vg{color:#19177c;}
.highlight .vi,.gist-highlight .vi{color:#19177c;}
.highlight .il,.gist-highlight .il{color:#666;}