---
---

@use 'common';
@use 'article';
@use 'series';
@use 'copyright';
@use 'suggest';
@use 'comment';
@use 'share';
@use 'github';
@use 'image_caption';
@use 'copy_button';
@use 'syntax_light';
@use 'syntax_dark';

[data-theme='light'] {
  @include syntax_light.syntax_light;
}
[data-theme='dark'] {
  @include syntax_dark.syntax_dark;
}

html[data-theme="light"] {
  --primary-dark-color: #5d1709;
  --primary-semi-dark-color: #a32d0f;
  --primary-color: #d74514;
  --primary-little-light-color: #f0835c;
  --primary-semi-light-color: #f8ccb9;
  --primary-light-color: #fdefe8;
  --primary-extra-light-color: #fef8f6;
  --white-color: #fcfcfc;
  --gray-color: #666;
  --black-color: #000;
  --true-white-color: #fcfcfc;
  --shadow-color: #0000001a;
}

html[data-theme="dark"] {
  --primary-dark-color: #999;
  --primary-semi-dark-color: #808080;
  --primary-color: #d74514;
  --primary-little-light-color: #a32d0f;
  --primary-semi-light-color: #333;
  --primary-light-color: #1a1a1a;
  --primary-extra-light-color: #0d0d0d;
  --white-color: #050505;
  --gray-color: #ababab;
  --black-color: #ccc;
  --true-white-color: #fcfcfc;
  --shadow-color: #ffffff26;
}

@font-face {
  {% comment %} https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&text=ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz1234567890%20%22%5C%60-=%5B%5D%3B%27%2C./~_+%7B%7D%7C%3A%3C%3E%3F%21%40%23%24%25%5E%26*%28%29&display=swap {% endcomment %}
  font-family: 'Orbitron';
  font-style: normal;
  font-weight: 400 900;
  font-display: swap;
  src: url(/assets/font/Orbitron.woff2) format('woff2');
}

@font-face {
  {% comment %} https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0&icon_names=archive,arrow_back,arrow_forward,arrow_right_alt,calendar_month,category,check,close,content_copy,dark_mode,data_object,featured_play_list,light_mode,local_offer,manage_search,open_in_new,rss_feed,stylus_note,tag,toc,vertical_align_top,web_stories {% endcomment %}
  font-family: 'Material Symbols Outlined';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/assets/font/Material_Symbols_Outlined.woff2) format('woff2');
}

.material-symbols-outlined {
  font-family: 'Material Symbols Outlined';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-smoothing: antialiased;
}

:root {
  --ui-font: 'Orbitron', sans-serif;
  --text-font: 'Helvetica Neue', 'Helvetica', '微软雅黑', 'Arial', 'sans-serif';
}

::selection {
  color: var(--white-color);
  background-color: var(--primary-little-light-color);
}

::-webkit-scrollbar {
  width: 0.25rem;
}

::-webkit-scrollbar-thumb {
  background-color: var(--primary-color);
  border-radius: 0.5rem;
}

::-webkit-scrollbar-track {
  background-color: var(--primary-extra-light-color);
  border-radius: 0.5rem;
}

:root {
  font-size: 16px;
  font-family: var(--text-font);
}

@media screen and (max-width: 1024px) {
  :root {
    font-size: 14px;
  }
}

@media screen and (max-width: 768px) {
  :root {
    font-size: 12px;
  }
}

* button {
  cursor: pointer;
}

* .no-select {
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  -webkit-user-drag: none;
  -moz-user-drag: none;

  img {
    pointer-events: none;
  }
}

@media print {
  :root {
    font-size: 12px;
  }

  * .no-print,
  * .no-print * {
    display: none !important;
  }
}

* .material-symbols-outlined {
  vertical-align: -0.2em;
}

* .iconify {
  vertical-align: -0.1em;
}
