<!DOCTYPE html>
<html lang="en">

<head>
    <title>Chenyang's blog</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="/assets/css/404.css">
</head>

<body class="light">
    <!-- header -->
    <section>
        <div class="menu noselect">
            <embed class="item" src="/assets/img/icon.svg" type="image/svg+xml" />
            <a href="/index.html" id="menu-home-p">
                <div class="item" id="menu-home">Home</div>
            </a>
            <a href="/about.html" id="menu-about-p">
                <div class="item" id="menu-about">About</div>
            </a>
            <a href="/index.html#archives" id="menu-archive-p">
                <div class="item" id="menu-archives">Archives</div>
            </a>
            <a href="/feed.xml" id="menu-rss-p">
                <div class="item" id="menu-rss">RSS</div>
            </a>
        </div>
    </section>

    <main>
        <section class="notfound">
            404
        </section>

        <footer>
            <div class="copyright noselect">
                Copyright © 2022 All rights reserved. Designed by
                <a href="https://github.com/WCY-dt/">Chenyang</a>.
            </div>
        </footer>
    </main>
</body>

</html>