---
layout: default
---

<div class="about_content no-select">
    <h1 class="title">{{ page.title }}</h1>

    <div class="content">
        <img src="{{ '/assets/images/about.jpg' | relative_url }}" alt="About" class="image">
        <p class="description">
            {{ site.data.about.description }}
        </p>
        <div class="github">
            <p class="name">GITHUB</p>
            <div class="detail">
                <a href="https://github.com/{{ site.data.about.github }}" class="item">
                    <img src="https://img.shields.io/github/followers/{{ site.data.about.github }}?style=for-the-badge&logo=github&color=000000" />
                </a>
                <a href="https://github.com/{{ site.data.about.github }}" class="item">
                    <img src="https://img.shields.io/github/stars/{{ site.data.about.github }}?style=for-the-badge&logo=github&color=000000" />
                </a>
            </div>
        </div>
        <div class="contact">
            <p class="name">CONTACT</p>
            <div class="detail">
                {% for contact in site.data.about.contact %}
                    <a href="{{ contact.link }}" class="item">
                        <img src="https://api.iconify.design/logos:{{ contact.icon }}.svg" class="iconify" />
                        <span>{{ contact.name }}</span>
                    </a>
                {% endfor %}
            </div>
        </div>
        <div class="skill">
            <p class="name">SKILLS</p>
            <div class="detail">
                {% for skill in site.data.about.skill %}
                    <div class="item">
                        <img src="https://api.iconify.design/vscode-icons:file-type-{{ skill.icon }}.svg" class="iconify"/>
                        <span>{{ skill.name }}</span>
                    </div>
                {% endfor %}
            </div>
        </div>
        <div class="learn">
            <p class="name">LEARNING</p>
            <div class="detail">
                {% for learn in site.data.about.learn %}
                    <div class="item">
                        <img src="https://api.iconify.design/vscode-icons:file-type-{{ learn.icon }}.svg" class="iconify" />
                        <span>{{ learn.name }}</span>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>