---
layout: default
---
<hgroup class='no-select no-print archive__title category__title'>
  <h1 class='archive__title-text category__title-text'>Category</h1>
</hgroup>

{% assign categories_array = '' | split: '' %}
{% for category in site.categories %}
  {% assign category_name = category | first %}
  {% assign posts_size = category | last | size %}
  {% assign size_padded = posts_size | prepend: '0000' | slice: -4, 4 %}
  {% assign category_item = size_padded | append: ',' | append: category_name %}
  {% assign categories_array = categories_array | push: category_item %}
{% endfor %}
{% assign sorted_categories = categories_array | sort | reverse %}

{% for category_string in sorted_categories %}
  {% assign category_info = category_string | split: ',' %}
  {% assign category_name = category_info[1] %}
  {% assign posts_count = category_info[0] | plus: 0 %}
  <a
    class='no-select no-print category__item'
    href='{{ category_name | slugify }}'
  >
    <span class='category__item-title'>
      {{ category_name }}
    </span>
    <div class='category__item-info'>{{ posts_count }}</div>
  </a>
  {%- unless forloop.last -%}
    <hr class='category__separator'>
  {%- endunless -%}
{% endfor %}

<p class='no-select no-print pagination__count'>
  {%- if sorted_categories.size == 0 -%}
    - no category -
  {%- elsif sorted_categories.size == 1 -%}
    - find 1 category -
  {%- else -%}
    - find {{ sorted_categories.size }} categories -
  {%- endif -%}
</p>
