---
layout: default
---

<div class="post">
  <hgroup class="hgroup">
    <h1 class="title">{{ page.title }}</h1>
    <div class="info no-select">
      <div class="date">
        <a href="{{ '/year/' | relative_url }}{{ page.date | date: "%Y" }}/">
          <span class="material-symbols-outlined">
            calendar_month
          </span>
          {{- page.date | date: site.theme_config.date_format -}}
        </a>
      </div>
      <div class="categories">
        {%- if page.categories -%}
          {%- for category in page.categories -%}
            <a href="{{ '/category/' | relative_url }}{{ category | slugify }}/">
              <span class="material-symbols-outlined">
                archive
              </span>
              {{ category }}</a>
          {%- endfor -%}
        {%- endif -%}
      </div>
      <div class="tags">
        {%- if page.tags -%}
          {%- for tag in page.tags -%}
            <a href="{{ '/tag/' | relative_url }}{{ tag | slugify }}/">
              <span class="material-symbols-outlined">
                tag
              </span>
              {{ tag }}
            </a>
          {%- endfor -%}
        {%- endif -%}
      </div>
    </div>
  </hgroup>
  <div class="content">
    {{ content }}
  </div>
  <div class="toc no-select">
    <button>
      <span class="material-symbols-outlined">
        toc
      </span>
    </button>
    {% include toc.html html=content %}
  </div>
  <div class="post-footer">
    {%- if page.copyrights contains "原创" -%}
      <div class="copyright">
        <img src="https://mirrors.creativecommons.org/presskit/icons/cc.svg?ref=chooser-v1" alt="copyright cc" class="no-select">
        <img src="https://mirrors.creativecommons.org/presskit/icons/by.svg?ref=chooser-v1" alt="copyright by" class="no-select">
        <img src="https://mirrors.creativecommons.org/presskit/icons/nc.svg?ref=chooser-v1" alt="copyright nc" class="no-select">
        <img src="https://mirrors.creativecommons.org/presskit/icons/sa.svg?ref=chooser-v1" alt="copyright sa" class="no-select">
        <p xmlns:cc="http://creativecommons.org/ns#" xmlns:dct="http://purl.org/dc/terms/">
          <a
            property="dct:title"
            rel="cc:attributionURL"
            href="{{ page.url | absolute_url }}">{{ page.title }}</a>
          © {{ page.date | date: "%Y" }} by
          <a
            rel="cc:attributionURL dct:creator"
            property="cc:attributionName"
            href="{{ site.author.link }}">{{ site.author.name }}</a>
          is licensed under
          <a
            href="https://creativecommons.org/licenses/by-nc-sa/4.0/?ref=chooser-v1"
            target="_blank"
            rel="license noopener noreferrer">CC BY-NC-SA 4.0</a>
        </p>
      </div>
    {%- endif -%}
    {% include relate.html tags=page.tags categories=page.categories %}
    <script 
      src="https://giscus.app/client.js" 
      data-repo="WCY-dt/blog" 
      data-repo-id="MDEwOlJlcG9zaXRvcnkzNDkxMDc5OTU="
      data-category="Comments" 
      data-category-id="DIC_kwDOFM73G84CgH8k" 
      data-mapping="title" 
      data-strict="0"
      data-reactions-enabled="1" 
      data-emit-metadata="0" 
      data-input-position="top"
      data-theme="light"
      data-lang="en" 
      data-loading="lazy"
      crossorigin="anonymous"
      async>
    </script>
  </div>
</div>