---
#
---
<!DOCTYPE html>
<html lang="en">

<head>
    <title>Chenyang's blog</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="/assets/css/post.css">
    <link rel="stylesheet" href="/assets/css/syntax.css">
    <link href="https://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">


    <script type="text/javascript" src="/assets/js/jquery-3.6.1.slim.min.js"></script>
    <script async src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/MathJax.js?config=TeX-MML-AM_CHTML"></script>
    <script async src="https://cdnjs.cloudflare.com/ajax/libs/mermaid/8.11.5/mermaid.min.js"></script>
    <script src="/assets/js/post.js"></script>
</head>

<body class="light">
    <!-- header -->
    <section class="menu noselect">
        <embed class="menu-item" src="/assets/img/icon.svg" type="image/svg+xml" />
        <a href="/index.html" id="menu-home-p"><div class="menu-item" id="menu-home">Home</div></a>
        <a href="/about.html" id="menu-about-p"><div class="menu-item" id="menu-about">About</div></a>
        <a href="/index.html#archives" id="menu-archive-p"><div class="menu-item" id="menu-archives">Archives</div></a>
        <a href="/feed.xml" id="menu-rss-p"><div class="menu-item" id="menu-rss">RSS</div></a>
    </section>

    <main>
        <div class="post">
            <section class="post-context">
                <div class="post-title">{{ page.title }}</div>
                <div class="post-content">{{ content }}</div>
            </section>
        
            <footer class="noselect">
                Copyright © 2022 All rights reserved. Designed by
                <a href="https://github.com/WCY-dt/">Chenyang</a>.
            </footer>
        </div>
    </main>
</body>

<div class="toc noselect">
    <div class="toc-title">Table of Contents</div>
    <div class="toc-content"></div>
</div>

</html>