---
layout: default
---

<div class="project_content no-select">
    <h1 class="title">{{ page.title }}</h1>
    
    <div class="content">
        {% for project in site.data.project.projects %}
            <div class="item">
                <h2 class="title">{{ project.name }}</h2>
                <p class="description">{{ project.description }}</p>
                <p class="tech">
                    {% for tech in project.tech %}
                        <span class="tech_item">
                            {% if site.project.show_icon %}
                                <img src="https://api.iconify.design/vscode-icons:file-type-{{ tech | downcase }}.svg" class="iconify"/>
                            {% endif %}{{ tech }}
                        </span>
                    {% endfor %}
                </p>
                <div class="link">
                    {% if project.repo %}
                        <a href="{{ project.repo }}" class="repo">
                            <span class="material-symbols-outlined">
                                code_blocks
                            </span>SOURCE CODE
                        </a>
                    {% endif %}
                    {% if project.demo %}
                        <a href="{{ project.demo }}" class="demo">
                            <span class="material-symbols-outlined">
                                captive_portal
                            </span>WEBSITE
                        </a>
                    {% endif %}
                </div>
            </div>
        {% endfor %}
    </div>
</div>